<html>

<style type="text/css">
h1, h2{
  color: red;
  font-weight: bold;
}
</style>

  <body>

  <h1>提交标准：</h1>
  <h2>图片真实, 生活照最好</h2>
  <h2>不要重口味</h2>
  <h2>清晰度高, 最起码肉眼看着清晰</h2>
  <h2>无水印</h2>
  <h2>竖图最好，横图判断切割成竖图后不影响欣赏</h2>
  <h2>不露点, 只要软的, 不要硬的</h2>
  <h1>最后但是最重要的，你心动了!!!</h1>

    <% @users.each do |user| %>
      <div class="user">
        <a href="/user/<%= user.id %>"><%= user.email %></a> | <%= user.photos.count %>
      </div>
    <% end %>
  </body>
</html>
