<html>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <style type="text/css">

  .item{
    float: left;
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  img{
    width: 300px;
  }

  .next-page{
    position: fixed;
    width: 100px;
    height: 50px;
    background: lightblue;
    color: white;
    top: 50px;
    right: 50px;
  }
  </style>

  <body>
  <a href="/?offset=<%= (params[:offset].to_i || 0)  + 100 || 0 %>" class="next-page">Next Page</a>

    <% @photos.each do |p| %>
      <div class="item">
      <image src="<%= p.url %>">
      <a class='del-btn' data-id="<%= p.id %>" href="#">DELETE</a>
    </div>
    <% end %>
  </body>

  <script type="text/javascript">
    $(function(){
      $('.del-btn').click(function(e){
        e.preventDefault();
        $this = $(this);
        var id = $(this).data('id');
        $.get('/delete/' + id, function(data){
          res = JSON.parse(data)
          if(res.success){
            $this.parent('.item').remove()
          }
        })
      })
    })
  </script>

</html>
