
<meta name="viewport" content="width=device-width">
<style type="text/css">

.item{
  float: left;
}
img{
  width: 200px;
}
</style>

<% @photos.each do |p| %>
  <div class="item">
    <image src="<%= p.url %>">
    <a href="/delete/<%= p.id %>">DELETE</a>
  </div>
<% end %>
