<html>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <style type="text/css">
  </style>

  <body>

  <form action="/submit" method='POST'>
    <input type="text" name='url' />
    <input type="submit" value='submit' />
  </form>

  </body>

</html>
