<html>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <style type="text/css">
.big-link{
  float: left;
  width: 150px;
  height: 50px;
  background: lightblue;
  color: white;
  text-decoration: none;
  text-align: center;
}
  </style>

  <body>

  通过表单提交：
  <form action="/submit" method='POST'>
    <input type="text" name='url' />
    <input type="submit" value='submit' />
  </form>

  <hr />

  或者下载下面的chrome插件（.crx格式），在chrome中打开 (<a href='chrome://extensions/' target='_blank'>chrome://extensions/)</a> 页面，并把下载的LOL.crx文件拖拽进该页面
  <br />

  <a href='/LOL.crx'>下载</a>
  </body>

</html>
