<html>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <style type="text/css">
.big-link{
  float: left;
  width: 150px;
  height: 50px;
  background: lightblue;
  color: white;
  text-decoration: none;
  text-align: center;
}
  </style>

  <body>

  通过表单提交：
  <form action="/submit" method='POST'>
    <input type="text" name='url' />
    <input type="submit" value='submit' />
  </form>

  <hr />

  或者把左边的蓝块拖到收藏夹（书签）中：

  <a class='big-link' href="javascript:(function(){var head=document.getElementsByTagName('head')[0];var script=document.createElement('script');script.src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js';document.getElementsByTagName('head')[0].appendChild(script);script.onload=function(){$('img').unbind('click');$('img').css({'boxShadow':'3px 3px 2px #f75006,-3px -3px 2px #f75006'}).parents('a').removeAttr('href');function resolveURL(url,base){if(/^https?:/.test(url))return url;var basea=document.createElement('a'),urla=document.createElement('a');basea.href=base,urla.href=url;urla.protocol=basea.protocol;if(!/^\/\//.test(url))urla.hostname=basea.hostname;if(/^\//.test(url))return urla.href;var urlparts=url.split(/\//);var baseparts=basea.pathname.split(/\//);if(!/\/$/.test(base))baseparts.pop();while(urlparts[0]=='..'){baseparts.pop();urlparts.shift()}urla.pathname=baseparts.join('/')+'/'+urlparts.join('/');return urla.href}$('img').click(function(){var body=document.getElementsByTagName('body')[0];var mask=document.createElement('div');body.appendChild(mask);mask.className='mask';$('body').css({'position':'relative','height':'100%'});$('.mask').css({'width':'100%','height':'100%','position':'absolute','top':'0','zIndex':'999999','background':'#000','opacity':'0.4'});var url=$(this).attr('src');var img_path=resolveURL(url,window.location.pathname);$.ajax({url:'http://106.185.39.131:4567/submit',type:'POST',data:{url:img_path},error:function(){alert('错误');($('.mask').remove())},success:function(result){alert('添加成功');($('.mask').remove())}})})}})();">保存美腿</a>

  </body>

</html>
