<html>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <style type="text/css">
img{
  width: 800px;
  border: 1px solid grey;
}
.big-link{
  float: left;
  width: 150px;
  height: 50px;
  background: lightblue;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  clear: left;
}
h1, h2, h3{
  color: red;
  font-weight: bold;
}
  </style>

  <body>

  <h1>提交标准：</h1>
  <h3>图片真实, 生活照最好</h3>
  <h3>不要重口味</h3>
  <h3>清晰度高, 最起码肉眼看着清晰</h3>
  <h3>无水印</h3>
  <h3>竖图最好，横图判断切割成竖图后不影响欣赏</h3>
  <h3>不露点, 只要软的, 不要硬的</h3>
  <h1>最后但是最重要的，你心动了!!!</h1>

  <hr />

  <br />

  <a class='big-link' href='/LOL.crx'>下载</a>
  <br />
  <br />
  <br />
  <br />
  <hr />

  <h1>提交方法：</h1>

  <h4>1.</h4>
  <h4>点击上面的'下载'按钮，下载插件</h4>

  <h4>2.</h4>
  <h4>在浏览器地址栏输入 chrome://extensions/, 到插件安装页面</h4>
  <img src="/instructions/2.jpeg" alt="" />

  <h4>3.</h4>
  <h4>把下载好的插件(LOL.crx)文件拖入浏览器插件页面</h4>
  <img src="/instructions/3.jpeg" alt="" />

  <h4>4.</h4>
  <h4>弹出安装框，选择'添加’</h4>
  <img src="/instructions/4.jpeg" alt="" />

  <h4>5.</h4>
  <h4>填入自己有效的邮箱地址, 用于跟踪上传的照片的上传者</h4>
  <img src="/instructions/5.jpeg" alt="" />

  <h4>6.</h4>
  <h4>安装成功后，插件就被激活，在网站中的图片上点击右键，选择‘保存美腿’即可将喜欢的图片上传至lol.qqdd.me</h4>
  <img src="/instructions/6.jpeg" alt="" />

  <h4>7.</h4>
  <h4><a style='color: red' href="http://lol.qqdd.me/check_submit">lol.qqdd.me/check_submit</a>在这里，可以看到所有用户列表，以及每个人上传的图, 这里我们开放了删除他人图片的功能，为了让大家能更好筛选出精品中的精品</h4>

  </body>

</html>
