<%= form_for(@bq) do |f| %>
  <% if @bq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bq.errors.count, "error") %> prohibited this bq from being saved:</h2>

      <ul>
      <% @bq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
