<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "擦边球App", albums_path, class: 'navbar-brand' %>

      <ul class="nav navbar-nav">
        <li>
          <%= active_link_to '已发布', published_albums_path, wrap_tag: :li %>
        </li>
        <li>
          <%= active_link_to '标签', tags_albums_path, wrap_tag: :li %>
        </li>
      </ul>
    </div>
  </div>
</nav>
