<% content_for :title do %>
  <title>首页</title>
<% end %>

<div class="container">
  <% @site_categories.each do |category| %>
    <div class="category">
      <%= category.name %>

      <% category.site_types.each do |type| %>
        <div class="type">
          <%= type.name %>

          <% type.sites.each do |site| %>
            <div class="site">
              <%= link_to site.title, site.url, target: '_blank' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
