<%= render "shared/beauty_header" %>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>
    <% if params[:tag] %>
      标签为： <span style='color: lightblue'><%= params[:tag] %></span>   的套图
    <% else %>
      套图集合
    <% end %>
  </h1>

  <%= render "album", albums: @albums %>
</div>
